<% provide(:title, 'Your Movies') %>
<h3>Movies You Own</h3>
<% if @movies.any? %>
  <%= will_paginate %>

  <ul class="users">
    <%= render @movies %>
  </ul>

  <%= will_paginate %>
<% else %>
  <p>You do no own any movies. Search for movies now and add the movies you own</p>
<% end %>

