Search for a movie
<%= form_tag("/search", :method => "get") do %>
<select name="type">
	  <option value="1" selected="selected">Movie</option>
	  <option value="2">Person</option>
	  <option value="3">Company</option>
	  <option value="4">Collection</option>
</select>
<%= text_field_tag(:value, nil, :class => "input-xlarge searchInput") %>
<% end %>
